{% extends "app/layout.html" %}

{% block content %}

<h2>KY Protective Services Unit</h2>
<h3></h3>

<p>
    KY Protective Services provides a variety of services in the Commonwealth of Kentucky. Founded by former Law Enforcement and Military personnal. Our highly trainned staff will go above and beyond, to exceed you expectations.</br></br>
 </p>
<p>
    <b>Services Provided:</b></br>
    <ul>
        <li>
            Process Server- !st attempt within 24 hours
        </li>
        <li>Skip Trace</li>
        <li>Location Service</li>
        <li>Background Check</li>
        <li>Public Records Search</li>
        <li>Private, Business and Corporate Security</li>
        <li>Investigations:
            <ul>
                <li>Insurance, Workers Comp, FMLA, etc</li>
                <li>Witness locate / protection</li>
                <li>Witness Interview</li>
                <li>Surveillance</li>
            </ul>
        </li>
        
    </ul>
    
</p>

{% endblock %}
