{% extends "app/layout.html" %}

{% block content %}
<div class="row" align="center">
    {% load static %}
    <img src="{% static "app/Images/KYPSULogo1.0.jpg" %}" alt="Kentucky Protective Services Unit's Logo" height="200px" width="600px">
</div>
<div class="jumbotron">
    
    
    <h1>KY Protective Services Unit</h1>
    <p class="lead">KY Protective Services provides a variety of services in the Commonwealth of Kentucky. Founded by former Law Enforcement and Military personnal. Our highly trainned staff will go above and beyond, to exceed you expectations.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
           
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
