{% extends "app/layout.html" %}

{% block content %}

<h2>KY Protective Services Unit</h2>
<h3>Uniformed Security</h3>

<p>
    We provide armed security services for your events, business, or residence. We can provide highly trained Officers to help with any situation you are having. From stationary door security to routine patrol. KY PSU works with the leaders in the security industry to help provide nothing but the best response to any situation. KY PSU can provide rapid response security teams to any situation which may arise. We work closely with state and local Law Enforcement along with Emergency Services to provide a safe and secure environment.<br><br>
</p>
<p>
    
    <ul>
        <li>
            Access Control
        </li>
        <li>Stationary/Door</li>
        <li>Routine Patrols</li>
        <li>Strike/Lock out</li>
        <li>Executive Security</li>
        <li>Personal Security</li>
        <li>Sports Games</li>
        <li>Concerts</li>
        <li>School Events</li>
        <li>Movie Premiers</li>
        <li>Conventions/Trade shows</li>
        <li>Natural Disasters</li>
    </ul>

</p>

{% endblock %}